.enemy-card-root {
    width: 273px;
    height: 400px;
    background-image: url('../../assets/images/enemy_card_bg.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 120px;
    left: 263.5px;
}

.enemy-card .close-button {
    border: 4px solid #000;
    background-color: #fff;
    font-family: komika_axisregular;
    font-size: 18px;
    padding: 3px 5px 4px 7px;
    border-radius: 50%;
    position: absolute;
    top: -11px;
    right: -11px;
    line-height: 1;
    outline: none;
    cursor: pointer;
}

.enemy-card {
    padding: 15px;
    position: relative;
}

.enemy-card-stats p {
    margin: 8px 0;
}

.enemy-card-image-wrapper {
    border: 6px solid #fff;
    background-color: #88aa00;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    text-align: center;
}

.enemy-card-image {
    display: inline-block;
    background: url('../../assets/images/actors.png') no-repeat;
    width: 32px;
    height: 32px;
    position: relative;
    top: 8px;
}

.enemy-card-image.madknight {
    background-position: -32px 0;
}

.enemy-card-image.headlesshellhound {
    background-position: -32px -32px;
}

.enemy-card-image.reanimatedskeleton {
    background-position: -64px 0;
}

.enemy-card-image.rottingcorpse {
    background-position: 0 -32px;
}

.enemy-card-inner {
    padding: 6px 10px;
    border: 6px solid #fff;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
}

.enemy-card h1, .enemy-card h2 {
    font-family: komika_axisregular;
    text-align: center;
    margin: 0;
}

.enemy-card-header-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 6px 4px;
    margin-bottom: 5px;
}

.enemy-card h1 {
    font-size: 22px;
    line-height: 1;
    margin-top: -1px;
}

.enemy-card h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.enemy-card-stats {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.enemy-card-stats table {
    font-family: komika_axisregular;
    border: none;
    width: 100%;
}

.enemy-card-stats table td {
    padding: 0;
}

.enemy-card-stats table td:first-child {
    padding-left: 12px;
}

.enemy-card-stats table td:last-child {
    padding-right: 12px;
}