{
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-use-before-define": [
            2, "nofunc"
        ],
        "no-unused-vars": [
            1
        ],
        "no-console": [
            0
        ]
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": "6",
        "sourceType": "module"
    },
    "globals": {
        require: true
    }
}