body {
    margin: 8px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.fullwidth {
    width: 100% !important;
}

.negative {
    color: red;
}

.positive {
    color: green;
}

.positive:before {
    content: '+';
}

.guibutton {
    font-family: komika_axisregular;
    font-size: 14px;
    border-radius: 8px;
    padding-bottom: 3px;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.guibutton.danger {
    border: 4px solid #552211;
    background-color: #aa0000;
    color: #fff;
    text-shadow: #450000 3px 3px 2px;
}

.guibutton.danger:active {
    box-shadow: #220000 2px 2px 8px inset
}

.guibutton.danger[disabled] {
    background-color: rgba(170, 0, 0, 0.6);
    color: #aaa !important;
}

.guibutton.success {
    background-color: #00aa00;
    border: 4px solid #225511;
    color: #fff;
    text-shadow: #004500 3px 3px 2px;
}

.guibutton.success:active {
    box-shadow: #002200 2px 2px 8px inset
}

.guibutton.success[disabled] {
    background-color: rgba(0, 170, 0, 0.6);
    color: #aaa !important;
}

.guibutton[disabled] {
    text-shadow: none !important;
    cursor: default;
}

.item-action-button {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 24px;

    font-size: 10px;
    font-family: komika_axisregular;
    text-align: center;
    color: #fff;
    line-height: 2.3;

    user-select: none;
}

.items-menu {
    background-color: rgba(138, 61, 14, 0.8);
    border:  8px solid rgba(85, 30, 0, 1);
    border-radius: 8px;
}

.items-list {
    border-spacing: 10px 14px;
}

.item-container {
    border:  4px solid rgba(95, 40, 0, 1);
    border-radius: 8px;
    padding: 4px;
    background-color: #2d1000;
}

.items-list .item {
    width: 64px;
    height: 84px;
}
