<div class="enemy-card">
    <button class="close-button">x</button>
    <div class="enemy-card-inner">
        <div class="enemy-card-header-wrapper">
            <h1>${name}</h1>
        </div>
        <div class="enemy-card-image-wrapper">
            <span class="enemy-card-image ${actorImgClass}"></span>
        </div>
        <div class="enemy-card-stats">
            <h2>${enemyType}</h2>
            <p>${description}</p>
            <table>
                <tr><td>Attack</td><td>${attack}</td></tr>
                <tr><td>Defence</td><td>${defence}</td></tr>
                <tr><td>Movement</td><td>${movement}</td></tr>
            </table>
        </div>
        <div class="enemy-card-actions">
            <button class="button-attack guibutton danger">Attack</button>
        </div>
    </div>
</div>